<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>Virtual Classroom Examiner</title>
  </head>
  <body>
      <!--
     Audio image header
      -->
      <a href="/">
        <img src = "/static/CSS/images/audio_head.png" width="100%">
      </a>

     {% block body %}

         <!--
        
         -->
        <br>
        <blockquote>
          <p class="quotation">Press the below button for audio analysis.</p>
        </blockquote>

        <!--
        Audio recording button
        -->
        <br>
        <form action="/audio_recording" method="post">
          <input type="submit" name="audio_recording" value="Start Recording">
        </form>


        <!--
        Emotion analysis button
        -->
        {% if display_button == True %}
          <form action="/audio_dash" method="get">
            <input type="submit" name="audio_analysis" value="Get Emotion Analysis">
          </form>
        {% endif %}

    {% endblock %}

    <!--
    Rules
    -->
    <br>
    <br>
    
    <br>
    <form>
    <input type="button" value="Back" onclick="history.go(-1)">
  </form>
  
    <br>
  </body>
</html>
